.contactForm {
	display: flex;
	width: 50vh;
	flex-direction: column;
	margin: 0 auto;
}
.formContainer {
	display: flex;
	flex-direction: column;
}
.formContainer div {
	width: 100%;
	margin: 0.5vh 0;
}
input,
textarea {
	appearance: none;
	padding: 0.5rem;
	font-size: 0.8rem;
	font-family: "Maven Pro Variable";
	outline: none;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	transition: ease-in-out 0.09s;
}
input:hover,
textarea:hover {
	border: 1.5px solid #c2c2c2;
}
input:focus,
textarea:focus {
	border: 1.5px solid #c2c2c2;
	background-color: #f8f8f8;
}

.formInfo {
	display: flex;
	gap: 1vw;
}
.formInfo input {
	flex: 1;
}

.messageContainer {
	display: flex;
}
.messageContainer textarea {
	resize: none;
	flex: 1;
}

.buttonContainer {
	display: flex;
	justify-content: flex-end;
	margin-top: 2%;
}

.buttonContainer button {
	background-color: #6a64f1;
	padding: 0.5rem 2rem;
	font-size: 0.9rem;
	font-weight: 600;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	transition: ease-in-out 0.2s;
}

button:hover {
	background-color: #5e58d0;
}

@media (max-width: 800px) {
	.formInfo {
		flex: 1;
		flex-direction: column;
	}
	.buttonContainer button {
		flex: 1;
		font-size: smaller;
	}
}
